.face{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(185,182,183,1) 100%);
  height:450px;
  width:450px;
  overflow:hidden;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-40%) rotate(45deg);
  border-radius:400px 500px  500px  500px;
}

.ear-1-out{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(185,182,183,1) 100%);
  height:300px;
  width:250px;
  border-radius:50%;
  transform: rotate(-35deg);
  position:absolute;
  top:140px;
  left:300px;
}

.ear-2-out{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(185,182,183,1) 100%);
  height:300px;
  width:250px;
  border-radius:50%;
  transform: rotate(35deg);
  position:absolute;
  top:140px;
  right:300px;
}

.ear-1{
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,49,91,1) 100%);
  height:220px;
  width:170px;
  border-radius:50%;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(40%,-45%);
}
.ear-2{
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,49,91,1) 100%);
  height:220px;
  width:170px;
  border-radius:50%;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(60%,-45%);
}
.hair{
  background:#cfcdcd;
  height:100px;
  width:350px;
  position:absolute;
  left:50%;
  top:17.9%;
  transform:translate(-50%,30%);
}
.hair-c1{
  background:white;
  height:100px;
  width:100px;
  border-radius:75% 0;
  position:absolute;
  left:50%;
  top:19.5%;
  transform:translate(-50%,-50%)  rotate(-35deg);
}
.hair-c2{
  background:white;
  height:200px;
  width:200px;
  border-radius:50%;
  position:absolute;
  left:57%;
  top:22%;
  transform:translate(-30%,-50%)  rotate(-45deg);
}
.hair-c3{
  background:white;
  height:200px;
  width:200px;
  border-radius:50%;
  position:absolute;
  left:37%;
  top:22%;
  transform:translate(-30%,-50%)  rotate(-45deg);
}
.eye-1{
  background: black;
  height:100px;
  width:80px;
  border-radius:50%;
  position:absolute;
  top:51%;
  left:40%;
  transform:translate(-3%, -1%);
  overflow:hidden;
}
.eye-2{
  background: black;
  height:100px;
  width:80px;
  border-radius:50%;
  position:absolute;
  top:51%;
  right:40%;
  transform:translate(3%, -1%);
  overflow:hidden;
}
.ball{
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(50,0,71,1) 65%);
  height:80px;
  width:80px;
  border-radius:50%;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(50%, -8%);
}
.balls{
  background: #cfcdcd;
  height:20px;
  width:30px;
  border-radius:50%;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(50%, -220%);
}

.chin1{
  background:#d4d2d3;
  height:60px;
  width:60px;
  border-radius:0 0 0px 125px;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(100%, 335%);
}
.chin2{
  background:#d4d2d3;
  height:60px;
  width:60px;
  border-radius:0 0 125px 0;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-100%, 335%);
}
.chin3{
  background:gray;
  height:150px;
  width:150px;
  position:absolute;
  left:340px;
  top:325px;
  margin-top:3%;
}

.nose{
   position:absolute ;
   background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,49,91,1) 100%);
   top: 555px;
   left:47%;
   height: 85px;
   width: 85px;
   border-radius: 25% 100% 25% 40%;
   transform: rotateZ(-45deg);
}

 .mouth1 {   
            height: 140px;
            width: 225px;
            border-radius: 49%;
            box-shadow: 0px -13px 0px -5px #010105;
            position: absolute;
            bottom: 18%;
            left: 29%;
            transform: rotateZ(-10deg);
        }
.mouth2 {   
            height: 140px;
            width: 225px;
            border-radius: 49%;
            box-shadow: 0px -13px 0px -5px #010105;
            position: absolute;
            bottom: 18%;
            right: 29%;
            transform: rotateZ(10deg);
        }
.mouth3 {   
            height: 140px;
            width: 225px;
            border-radius: 49%;
            box-shadow: 0px -13px 0px -5px #010105;
            position: absolute;
            bottom: 10%;
            left: 31%;
            transform: rotateZ(-20deg);
        }
.mouth4 {   
            height: 140px;
            width: 225px;
            border-radius: 49%;
            box-shadow: 0px -13px 0px -5px #010105;
            position: absolute;
            bottom: 10%;
            right: 31%;
            transform: rotateZ(30deg);
        }
