/* Created By Pratham Mishra */


.face{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(185,182,183,1) 100%);
  height:450px;
  width:450px;
  overflow:hidden;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-40%) rotate(45deg);
  border-radius:400px 500px  500px  500px;
}

.ear-1-out{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(185,182,183,1) 100%);
  height:300px;
  width:250px;
  border-radius:50%;
  transform:translate(-150%,-100%) rotate(-35deg);
  position:absolute;
  top:50%;
  left:50%;
}

.ear-2-out{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(185,182,183,1) 100%);
  height:300px;
  width:250px;
  border-radius:50%;
  top:50%;
  right:50%;
  transform:translate(150%,-100%) rotate(35deg);
  position:absolute;
}

.ear-1{
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,49,91,1) 100%);
  height:220px;
  width:170px;
  border-radius:50%;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(40%,-45%);
}
.ear-2{
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,49,91,1) 100%);
  height:220px;
  width:170px;
  border-radius:50%;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(60%,-45%);
}
.hair{
  background:#cfcdcd;
  height:100px;
  width:350px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-250%);
}
.hair-c1{
  background:white;
  height:100px;
  width:100px;
  border-radius:75% 0;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-318%)  rotate(-35deg);
}
.hair-c2{
  background:white;
  height:200px;
  width:200px;
  border-radius:50%;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(18%,-165%)  rotate(-45deg);
}
.hair-c3{
  background:white;
  height:200px;
  width:200px;
  border-radius:50%;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-119%,-170%)  rotate(-45deg);
}
.eye-1{
  background: black;
  height:100px;
  width:80px;
  border-radius:50%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-165%, 8%);
  overflow:hidden;
}
.eye-2{
  background: black;
  height:100px;
  width:80px;
  border-radius:50%;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(165%, 8%);
  overflow:hidden;
}
.ball{
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(50,0,71,1) 65%);
  height:80px;
  width:80px;
  border-radius:50%;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(50%, -8%);
}
.balls{
  background: #cfcdcd;
  height:20px;
  width:30px;
  border-radius:50%;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(50%, -220%);
}

.chin1{
  background:#d4d2d3;
  height:60px;
  width:60px;
  border-radius:0 0 0px 125px;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(100%, 335%);
}
.chin2{
  background:#d4d2d3;
  height:60px;
  width:60px;
  border-radius:0 0 125px 0;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-100%, 335%);
}
.chin3{
  background:gray;
  height:150px;
  width:150px;
  position:absolute;
  left:340px;
  top:325px;
  margin-top:3%;
}

.nose{
   position:absolute ;
   background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,49,91,1) 100%);
   top: 50%;
   left:50%;
   height: 85px;
   width: 85px;
   border-radius: 25% 100% 25% 40%;
   transform:translate(-50%, 138%) rotateZ(-45deg);
}

 .mouth1 {   
    height: 140px;
    width: 225px;
    border-radius: 49%;
    box-shadow: 0px -13px 0px -5px #010105;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform:translate(-127%, 200%) rotateZ(-10deg);
 }
.mouth2 {   
    height: 140px;
    width: 225px;
    border-radius: 49%;
    box-shadow: 0px -13px 0px -5px #010105;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform:translate(127%, 200%) rotateZ(10deg);
        }
.mouth3 {   
    height: 140px;
    width: 225px;
    border-radius: 49%;
    box-shadow: 0px -13px 0px -5px #010105;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform:translate(-115%, 245%) rotateZ(-30deg);
        }
.mouth4 {   
    height: 140px;
    width: 225px;
    border-radius: 49%;
    box-shadow: 0px -13px 0px -5px #010105;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform:translate(115%, 245%) rotateZ(30deg);
        }

.shadow{
  background-color:transparent;
  width:300px;
  height:10px;
  border-radius: 50%;
  box-shadow: 0 50px 25px 20px #d5d3d3;
  position:absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 3000%);
}